<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="6.0.0" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.6" />
  <package id="System.Threading.Channels" version="6.0.0" />
  <package id="ZLogger" version="1.7.1" manuallyInstalled="true" />
  <package id="ZString" version="2.5.0" />
</packages>